<% include ../partials/header %>


<div class="col" style="margin-right:50px">
    
    <form action="/dvd/add" method="post" class="col s12">
        <div class="form-group row">
            <label for="title" class="col-2 col-form-label">Title</label>
            <div class="col-10">
                <input type="text" name="title" value="" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-2 col-form-label" style="color:#ffffff">Click here to search</label>
            <div class="col-10">
                <input type="submit" name="search" value="Search Movie" class="btn btn-primary btn-lg">
             </div>
        </div>
    </form> 

    <% if (movies != null){ %>
        <table class="table">
            <thead>
                <tr>
                    <th style="width:8%;text-align:center">Movie ID</th>
                    <th style="width:15%;text-align:center">Title</th>
                    <th style="width:10%text-align:center">Genre</th>
                    <th style="width:10%;text-align:center">Rating</th>
                    <th style="width:10%;text-align:center;">Release Date</th>
                    <th style="width:8%;text-align:center">Cover Art</th>
                    <th style="width:40%;text-align:center">Overview</th>
                    <th style="width:5%;text-align:center">Select</th>
                </tr>
            </thead>
            <tbody>
                <% movies.forEach(function(movie, index){ %>
                    <tr>
                        <td style="width:8%;text-align:center"><%= movie.id %></td>
                        <td style="width:15%;text-align:center"><%= movie.title %></td>
                        <td style="width:10%;text-align:center"><%= "UNIMPLEMENTED" %></td>
                        <td style="width:10%;text-align:center"><%= movie.vote_average %></td>
                        <td style="width:10%;text-align:center"><%= movie.release_date %></td>
                        <td style = "width:8%;text-align:center">
                            <img src="<%= 'https://image.tmdb.org/t/p/w185_and_h278_bestv2/'+ movie.poster_path %>"
                            alt= "<%= movie.title %>" width = 125px; height = 175px;/>
                        </td>
                        <td style="width:40%;"><%= movie.overview %></td>
                        <td style = "width:5%">
                            <br>
                            <a href="/dvd/add/<%= movie.id %>" class = "btn btn-success">Select</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } %>
    <form action="/" method="get" class="col s12">
        <label for="" class="col-1 col-form-label" style="color:#ffffff"></label>
        <br /> <br/>
        <input type="submit" name="back" value="Return Home" class="btn btn-primary btn-lg">
    </form>
</div>

        
<% include ../partials/footer %>