<% include ../partials/header %>

<div class="col" style="margin-right:50px">
     <form action="http://localhost:3000/dvd/add/:<%= movieData.id %>" method="post" class="col s12">
        <table class="table">
            <thead>
                 <tr>
                     <th style= "width:8%;text-align:center">TMDB ID</th>
                         <th style="width:15%;">Title</th>
                         <th style="width:10%;">Release Date</th>
                         <th style="width:8%;text-align:center">Cover Art</th>
                         <th style="width:40%">Overview</th>
                         <th style="width:10%;text-align:center">Rating</th>
                         <th style="width:5%">Select</th>
                     </tr>
             </thead>
             <tbody>
                 <tr>
                    <td style="width:8%;text-align:center"><%= movieData.id %></td>
                    <td style="width:15%"><%= movieData.title %></td>
                    <td style="width:10%"><%= movieData.release_date %></td>
                    <td style = "width:8%">
                        <img src="<%= 'https://image.tmdb.org/t/p/w185_and_h278_bestv2/'+ movieData.poster_path %>"
                            alt= "<%= movieData.title %>" width = 125px; height = 175px;/>
                    </td>
                    <td style="width:40%"><%= movieData.overview %></td>
                    <td style="width:10%;text-align:center"><%= movieData.vote_average %></td>
                 </tr>
             </tbody>
         </table>
         <hr>
         <br>
         <div class="form-group row">
             <label for="quantity" class="col-2 col-form-label">Quantity To Add</label>
             <div class="col-10">
                 <input type="number" name="quantity" min="0" value="" style="width:10%" class="form-control">
             </div>
         </div>
         <div class="form-group row">
             <label for="" class="col-2 col-form-label" style="color:#ffffff">Click here to submit</label>
             <div class="col-10">
                 <input type="submit" name="addDVD" value="Add Entry" class="btn btn-primary btn-lg">
             </div>
         </div>
    </form>
    <form action="http://localhost:3000/" method="get" class="col s12">
        <label for="" class="col-1 col-form-label" style="color:#ffffff"></label>
        <br /> <br/>
        <input type="submit" name="back" value="Return Home" class="btn btn-primary btn-lg">
    </form>
</div>

        
<% include ../partials/footer %>